.fade-in {
    animation: fadeIn 0.7s ease-in-out;
}
  
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.content {
    margin-left: 220px;
    padding: 20px;
    text-align: center;
    animation: fadeIn 1s ease-in-out; // apply fade-in to whole component
}

.clients-section {
    grid-area: clients;
    background: var(--card-background);
    border-radius: 17px;
    padding: 20px;
    height: 92vh;
}


.client-list {
    height: 600px;  // Adjust this value as needed
    overflow: hidden;  // Hide overflow on the container
    
    table {
      width: 100%;
      border-collapse: separate;
      border-spacing: 0;
    }
  
    thead {
      position: sticky;
      top: 0;
      z-index: 1;
      
      th {
        padding: 12px;
        text-align: left;
      }
    }
  
    tbody {
      display: block;
      overflow-y: auto;
      height: 53vh;  // Should be less than client-list max-height
      
      tr {
        display: table;
        width: 100%;
        table-layout: fixed;
      }
      
      td {
        padding: 12px;
        text-align: left;
        font-weight: lighter;
  
        &:nth-child(7) { // targets the reason column (5th column)
          > span {
            display: inline-block;
            background-color: #b8f29795;
            padding: 6px 12px;
            border-radius: 16px;
            font-size: 0.9em;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: 75px; // adjust as needed
          }
        }
  
      }
    }
  
    thead tr {
      display: table;
      width: 100%;
      table-layout: fixed;
    }
}

.section-title {
    text-align: left;
    margin: 0;
    margin-left: 10px;
    margin-top: 20px;
    margin-bottom: 40px;
    font-size: 2em;
    font-weight: bold;
}

.search-container {
  margin: 20px 0;
  
  .search-input {
      width: 98%;
      padding: 12px;
      border: 1px solid #ddd;
      background-color: var(--input-background);
      border-radius: 20px;
      font-size: 16px;
      outline: none;
      transition: border-color 0.3s ease;
      
      &:focus {
          border-color: #007bff;
      }
  }
}

.client-row {
  cursor: pointer;
  
  &:hover {
      background-color: var(--hover-color);
      border-radius: 20px;
  }
}

.buttons-container {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.button-28 {
  appearance: none;
  background-color: var(--button-background);
  border: 1px solid #323232;
  border-radius: 30px;
  box-sizing: border-box;
  color: #323232;
  cursor: pointer;
  display: inline-block;
  font-family: 'Nunito', sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 60px;
  min-width: 0;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 20%;
  will-change: transform;
}

.button-28:disabled {
  pointer-events: none;
}

.button-28:hover {
  color: #fff;
  background-color: #3d3d3d;
}

.button-28:active {
  box-shadow: none;
  transform: translateY(0);
}